@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    font-size: 4vw; 
    background: linear-gradient(90deg, #FEC574, #FF8D5E);
}

.Nav_Container {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    margin-top: 23px;
    align-items: center;
    text-decoration: none;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.nav_item {
    color: #333;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 20px;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item a {
    text-decoration: none;
    color: #333;
}

.nav_item:hover {
    color: #f13b04;
    text-decoration: underline;
}

#nav_img, img {
    width: 3%;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

#nav_img:hover, img:hover {
    transform: scale(1.1);
}
.nav_btn, button {
    border-radius: 50px;
    cursor: pointer;
    background: #FF6E40;
    transition: all 0.3s ease-in-out;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
}

.nav_btn:hover, button:hover {
    background: #FF4123;
    color: white;
}

.bet_content {
    font-size: 32px;
    margin: 123px 12px 0;
    display: flex;
    height: 400px;
}

.half-width-div {
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.half-width-div img {
    width: 100%;
    max-height: 100%;
    margin-top: -84px;
}

h1 {
    font-size: 95px;
    position: absolute;
    top: 7vh;
    left: 60%;
}

/* Social */
.social-icon {
    font-size: 28px;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    /* padding: 0; */
    display: flex;

    align-items: center;
}

li {
    margin: 0 20px;
    transition: transform 0.2s ease-in-out;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 28px;
}

a:hover {
    color: #f13b04;
    transform: scale(1.2);
}



